<div class="questions-display text-center">
  <h1>
    <%= @question %>
  </h1>
  <h3>
    - You
  </h3>
</div>

<div class='questions-display text-center'>
  <h1>
    <%= @answers %>
  </h1>
  <h3>
    - Your coach
  </h3>
</div>

<div class="text-center new-question">
  <h5>
    <%= link_to 'Ask a new question', '/ask' %>
  </h5>
</div>
