<div class="form text-center">
  <form action="/answer">
    <div class="form-group">
      <label for="question"'><strong><h2>Speak to your coach</h2></strong></label>
      <input type="text" id="question" name="query" placeholder="Insert question here" class='form-control'>
      <input type="submit" value="Go on!" class='btn btn-primary'>
    </div>
  </form>
</div>
